[Interface]
Address = 10.100.0.1/24
ListenPort = 51820
PrivateKeyFile = /root/wireguard/private.key
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT
PreDown = iptables -D FORWARD -i wg0 -j ACCEPT

[Peer]
PublicKey = REPLACE_ME
AllowedIPs = 10.100.0.2/32