NTFY_BASE_URL="https://ntfy.domain.nl/"
NTFY_BEHIND_PROXY="true"
NTFY_AUTH_FILE="/var/lib/ntfy/auth.db"
NTFY_AUTH_DEFAULT_ACCESS="deny-all"
NTFY_ENABLE_LOGIN="true"
NTFY_REQUIRE_LOGIN="true"
NTFY_AUTH_USERS='username:password-encrypted:admin'
TZ="Europe/Amsterdam"
# https://docs.ntfy.sh/config/ for config and password generation
# cron for check schedule: * 5-23,0-3 * * *